do_token           = "your_digital_ocean_api_token"
pvt_key            = "~/.ssh/id_ed25519"
environment        = "production"
region             = "sgp1"
kubernetes_version = "1.32.2-do.1"
node_size          = "s-4vcpu-8gb"
min_nodes          = 1
max_nodes          = 2
db_size            = "db-s-2vcpu-4gb"
redis_size         = "db-s-1vcpu-2gb"
